{% extends 'base.html' %}

{% block title %}New Post{% endblock %}

{% block content %}
    <div class="post-container">
        <hr style="border: 2px solid black;">

        <!-- 새 게시물 작성 폼 -->
        <fieldset>
            <legend>Create a New Post</legend>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- 폼 필드들 -->
                <div class="form-group">
                    {{ form.as_p }}
                </div>

                <!-- 이미지 업로드 -->
                <div class="form-group">
                    <label for="id_images">Upload Images:</label>
                    <input type="file" name="images" id="id_images" multiplec class="form-control-file">
                </div>

                

                <!-- 제출 버튼 -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create Post</button>
                </div>
            </form>
        </fieldset>

        <br>

        <!-- 내비게이션 버튼 -->
        <a href="{% url 'board_detail' board.id %}" class="btn btn-primary">Back to Board</a>
    </div>
{% endblock %}
